body {
background-image:url('http://www.xtunepower.com/assets/images/xtbg.jpg') ; 
background-position: top center;
background-attachment: fixed; 
background-repeat: repeat-x;
background-color: rgb(0,0,0);  
}
select {
-webkit-appearance: none;
-moz-appearance: none;
text-indent: 1px;
text-overflow: '';
}
select::-ms-expand {
display: none;
}
p,span,select,a,h1,h2,h3,h4,h5,h6 {	
font-family: arial,verdana,tahoma,sans-serif;
font-size:   11pt;
line-height: 20px;	
}
h1,h2{
font-size:   15pt;
line-height: 25px;	
}
a {
text-decoration: none ;  	
color:black;
}
@media screen and (max-width: 650px) {	
p,span,select,a {	
font-family: arial,verdana,tahoma,sans-serif;
font-size:   12pt;
line-height: 24px;	
}
}
.find {
text-decoration: none;
background-color: rgb(180,180,180); 
border-bottom-color: #FFF;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-top-left-radius: 0px;
border-top-right-radius:0px;
border-radius: 5px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color: #FFF;
border-left-style: none;
border-left-width: 0px;
border-right-color: #FFF;
border-right-style: none;
border-right-width: 0px;
border-top-color: #FFF;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
clear: both;
color: #FFF;
cursor: pointer;
display: block;
font-family: arial,verdana,tahoma,sans-serif;
font-size: 12.5pt;
line-height: 20px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
min-height: 30px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 0px;
padding-top: 10px;
text-rendering: optimizelegibility;
text-transform: none;
transition-delay: 0s;
transition-duration: 0.1s;
vertical-align: middle;
width: 95%;
max-width:325px;
height:40px;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
}
.int {
background-color: rgb(0,0,0); 
border-bottom-color: #000000;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-top-left-radius: 0px;
border-top-right-radius:0px;
border-radius: 5px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color: #000000;
border-left-style: none;
border-left-width: 0px;
border-right-color: #000000;
border-right-style: none;
border-right-width: 0px;
border-top-color: #000000;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
clear: both;
color: rgb(255,255,255);
cursor: pointer;
display: block;
font-family: arial,verdana,tahoma,sans-serif;
font-size: 12.5pt;
line-height:  20px;
margin-bottom: 5px;
margin-left:   0px;
margin-right:  0px;
margin-top:    0px;
min-height:    30px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
text-rendering: optimizelegibility;
text-transform: none;
transition-delay: 0s;
transition-duration: 0.1s;
vertical-align: middle;
width: 95%;
max-width:325px;
height:40px;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
}
#myInput2{
border           : 1px solid #AAAAAA;
font-family      : Arial;
font-size        : 12pt;
color            : rgb(0,0,0);
height           : 25px;	
width            : 132px;
background-color : rgb(255,255,255);
}
.csbp{
width: 100pt ;  height : 20pt ; background-color : rgb(180,180,180);		
}
#navbarmain2{
display:none;	 	
}
#div_top_table:after {
content: "";
display: table;
clear: both;
}
#div_navigation_table:after {
content: "";
display: table;
clear: both;
}
#page_header { width:950px;}
#div_top_table {	
width:950px;		
}
#div_top_left {	
float: left;
width:500px;		
}
#div_top_right {	
float: left;
width:450px;		
}
#div_navigation_table{	
width:950px;		
}
#div_navigation_left {	
float: left;
width:400px;			
}
#div_navigation_right {	
float: left;
width:550px;		
}
@media screen and (max-width: 950px) {
#page_header{width:600px;}
#div_top_table  {	
width:600px;		
}
#div_top_left {	
float: left;
width:350px;		
}
#div_top_right {	
float: left;
width:250px;		
}
#div_navigation_table {	
width:600px;			
}
#div_navigation_left {	
float: left;
width:0px;		
}
#div_navigation_right {	
float: left;
width:600px;		
}			
}
@media screen and (max-width: 650px) {
#page_header{width:325px;}
#div_navigation_table  {	
width:325px;		
}
#div_navigation_left {	
float: left;
width:0px;		
}
#div_navigation_right {	
float: left;
width:325px;	
}			
#navbarmain,#div_top_table{
display:none;	 	
}
#navbarmain2{
display:block;
z-index:10000;
}
}
.pc{
display:block;	
margin:0 auto;
}
#page_body{
background-position: top center;
margin-top: 0px;
} 
#page_body_r {
background-image:url('http://www.xtunepower.com/assets/images/div_body.png');
width:950px;   
}
#table_maincontent{
width:900px;	
border-collapse: collapse;	
}
#table_maincontent_space{ display:block;}
@media screen and (max-width: 950px) {
#page_body_r {
background-image:url('http://www.xtunepower.com/assets/images/page_body.png');
width:600px;   
}	
#table_maincontent{
width:600px;	
border-collapse: collapse;	
}	
#table_maincontent_space{ display:none;	}	
}
@media screen and (max-width: 650px) {
#page_body_r {
background-image:url('http://www.xtunepower.com/assets/images/page_body.png');
width:325px;   
}	
#table_maincontent{
width:325px;	
border-collapse: collapse;	
}
#table_maincontent_space{ display:none;	}	
}
#navbarmain {
position  : relative; 
width     : 550px;	
z-index   : 999;	
}
#navbar {
margin  : 0;
padding : 0;	
width   : 550px;
height  : 45px; 
}
#navbar li {
list-style: none;
float: left; 
}
#navbar li a {
font-family     : Arial, Verdana;
font-size       : 12pt; 
color           : rgb(255,255,255); 
font-weight     : bold;
text-decoration : none; 
display         : block ;
width           : 110px;
padding-top     : 18px  ;
}
#navbar li a:hover {
font-family     : Arial, Verdana;
font-size       : 12pt; 
color           : rgb(255,0,0); 
font-weight     : bold;
text-decoration : none; 
display         : block ;
width           : 110px;  		
}
#navbar li:hover ul, #navbar li.hover ul {
display   : block;
position  : absolute;
margin    : 0;
padding   : 0; 	
}
#navbar li ul {
display: none; 
width: 10em; /* Width to help Opera out */
}	
/* submenu when pop-up */		
#navbar li:hover li a, #navbar li.hover li a {
background-color : rgb(50,50,50);
width            : 160px;
height           : 50px;
font-family      : Arial;
font-size        : 9pt;
color            : rgb(255,255,255);
text-align       : left;
padding-left     : 15px;
}
#navbar li li a:hover {
background-color : rgb(255,0,0);
width            : 160px;
height           : 50px;
font-family      : Arial;
font-size        : 9pt;
color            : rgb(255,255,255);
text-align       : left;
padding-left     : 15px;
} 
#NavDropMenu{
width            : 100px;
height           : 50px;
background-color : rgb(0,0,0);  
}
button.accordion2 { 
background-color: #bbb;
color: #444;
cursor: pointer;
padding: 15px;
width: 95%;
border: none;
text-align: left;
outline: none;
font-size: 18px;
transition: 0.4s;
}
.accordion, .accordion3 {
margin-bottom:5px;
background-color: #bbb;
color: #444;
cursor: pointer;
padding: 15px;
width: 95%;
border: none;
text-align: left;
outline: none;
font-size: 18px;
transition: 0.4s;
transition: 0.4s;
}
.accordion3 {
border-radius: 5px;
width: 100%;
}
#NewItemList{
background-color: #4CAF50;
border: none;
color: white;
width:35%;
font-family:arial,verdana;
padding: 15px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.accordion:after, .accordion3:after {
content: '\02795'; 
font-size: 13px;
color: #777;
float: right;
margin-left: 5px;
}
.panel {
padding: 0 18px;
background-color: white;
display: none;
overflow: hidden;
}
.panel3 {
padding: 0 2px;
background-color: white;
display: none;
overflow: hidden;
}
.modal {
display: none; 
position: fixed; 
z-index: 1; 
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%; 
overflow: auto;
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
}
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 10px;
border: 1px solid #888;
width: 320px;
}
.close {
color: #000000;
float: right;
font-size: 42px;
font-weight: bold;
}
.close:hover,.close:focus {
color: #ff0000;
text-decoration: none;
cursor: pointer;
}
